In [1]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm

import IPython 
IPython.display.display(IPython.display.HTML("<style>.container { width:100% !important; }</style>"))

from cached_property import cached_property

os.chdir('..')

In [2]:
from fpl_ranker.league_of_leagues.leagues_research import LeaguesResearch

leagues_list = [
    579956, 356774, 
    406089, 626932, 5712, 458888, 406273, 257622, 180769, 684405, 381725, 82273
]

names_mapping = {
    'Elite20KZ⭐️t.me/FPL_HQ': 'Elite20KZ',
    'Classic TITANS & CHAMPIONSHIP': 'Titans League',
    'World Class Fantasy League': 'World Class League',
    'Тренерский ШТАБ | t.me/FPL_HQ': 'Тренерский ШТАБ',
    'The_Best_Managers': 'Best managers',
    'KZ FPL 2023/2024': 'KZ FPL',
    'League-of-Legends': 'League of Legends',
    'Zakynule FPL League': 'Zakynule FPL League',
    'Classic Premier League': 'Syndicate',
    "Keldibek's League": "Keldibek's League",
    'Open DSML League': 'Open DSML League'
}

old_scores = {
    'Elite20KZ': 178.70,
    'Titans League': 168.50,
    'World Class League': 167.41,
    'Тренерский ШТАБ': 171.68,
    'Best managers': 170.13,
    'DV league': 166.32,
    'KZ FPL': 172.46,
    'League of Legends': 166.28,
    'Zakynule FPL League': 170.83,
    'Syndicate': 166.13,
    "Keldibek's League": 165.53,
    'Open DSML League': 156.97
}
event_id = 4

research = LeaguesResearch(leagues_list, event_id, old_scores, names_mapping, summary_dir = 'artefacts/gw4')
research.leagues_summary

Elite20KZ⭐️t.me/FPL_HQ
Make additional league query
Тренерский ШТАБ | t.me/FPL_HQ
Make additional league query
KZ FPL 2023/2024
The_Best_Managers
Zakynule FPL League
Classic TITANS & CHAMPIONSHIP
World Class Fantasy League
Make additional league query
DV league
Make additional league query
Make additional league query
Classic Premier League
League-of-Legends
Make additional league query
Keldibek's League
Open DSML League

,league_name,old_total_score,new_score,mvp_score,mvp_teams,mvp_names,new_total_score,old_position,new_position
0,Elite20KZ,178.70,74.65,83,GoonerKZ,Aibek Yeleubayev,253.35,1,1
1,Тренерский ШТАБ,171.68,72.98,90,Abuesat,Adilet Natiyev,244.66,3,2
2,KZ FPL,172.46,71.66,92,Memphis Burgers,Yerken Khituov,244.12,2,3
3,Best managers,170.13,72.75,92,Victory Vortex FC,Aman Utespayev,242.88,5,4
4,Zakynule FPL League,170.83,72.00,86,Szoboshlai,Murat Kaziyev,242.83,4,5
5,Titans League,168.50,74.18,98,TEAMNAME,Em XCK,242.68,6,6
6,World Class League,167.41,73.82,93,Pipe-Plast.kz,Kenes Sadykov,241.23,7,7
7,DV league,166.32,73.69,95,"unistars, Newstone FC","Yeldar MT, Abai Rustemov",240.01,8,8
8,Syndicate,166.13,73.23,104,Arsen Wenger,Khassen Partayev,239.36,10,9
9,League of Legends,166.28,72.72,99,JKD TEAM,Kurban Zharylkasyn,239.00,9,10
10,Keldibek's League,165.53,72.66,95,abdigaliaza,Azamat Abdigali,238.19,11,11
11,Open DSML League,156.97,72.28,88,Underrated runners,Ablaikhan Aimbetov,229.25,12,12

In [ ]:
df = _14
df = pd.DataFrame(df)
df

In [4]:
from fpl_ranker.components.players_info import PlayerInfo
from fpl_ranker.components.users_info import UserInfo
from fpl_ranker.components.user_storage import UserStorage
from fpl_ranker.components.league_info import LeagueInfo


league_id = 356774
event_id = 4


league_info = LeagueInfo(league_id)
players_info = PlayerInfo()
user_storage = UserStorage(players_info)
# league_name, standings = league_info._get_basic_info()
print(league_info.league_name)
league_info.get_event_standings(event_id, user_storage)
# league_info.get_overall_standings(user_storage)

Make additional league query
Тренерский ШТАБ | t.me/FPL_HQ

  0%|          | 0/95 [00:00<?, ?it/s]

,entry,team_name,user_name,active_chip,points,event_transfers,event_transfers_cost,pure_points,gk,def,mid,captain,frw,bench
0,35606,Alimbekov Wolverines,Alimbekov Renat,None,84,1,0,84,M.Turner,"B.Chilwell, M.Cash, P.Estupiñán","B.Mbeumo, B.Saka, E.Eze, J.Maddison, M.Salah",E.Haaland,"E.Haaland, Y.Wissa","G.Baldock, J.Junqueira de Jesus, J.Steele, W.S..."
1,406455,AQJAYIQ FC,Askhat Aktaubayev,None,79,2,0,79,M.Flekken,"B.Chilwell, D.Udogie, P.Estupiñán","B.Borges Fernandes, B.Mbeumo, B.Saka, J.Maddis...",E.Haaland,"E.Haaland, N.Jackson","C.Archer, G.dos Santos Magalhães, I.Kaboré, M...."
2,5423747,Abuesat,Adilet Natiyev,None,90,1,0,90,S.Johnstone,"B.Chilwell, P.Estupiñán, R.Henry","B.Mbeumo, B.Saka, J.Maddison, M.Rashford, P.Foden",E.Haaland,"E.Haaland, J.Álvarez","G.Baldock, G.dos Santos Magalhães, J.Junqueira..."
3,3524799,Tobot,Salikh Syzdyk,None,73,1,0,73,J.Pickford,"J.Andersen, M.Akanji, P.Estupiñán","B.Borges Fernandes, B.Saka, L.Díaz, R.Sterling",E.Haaland,"E.Haaland, J.Álvarez, Y.Wissa","A.Onana, J.Tarkowski, K.Mitoma, W.Saliba"
4,655886,Arsenal,Адилхан Куатов,None,84,1,0,84,A.Areola,"A.Disasi, B.Chilwell, K.Walker","B.Borges Fernandes, B.Saka, E.Eze, M.Diaby, M....",E.Haaland,"E.Haaland, J.Álvarez","A.Onana, D.Mubama, P.Estupiñán, P.Porro"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,753068,Artetaball,Yestay Kameshev,wildcard,67,0,0,67,E.Santana de Moraes,"D.Udogie, J.Andersen, M.Gusto","B.Mbeumo, B.Saka, J.Bowen, J.Maddison, R.Sterling",J.Bowen,"E.Haaland, N.Jackson","A.Areola, A.Isak, K.Walker, O.Zinchenko"
91,5969582,Вдовий плач,Tima Ka,None,67,1,0,67,G.Vicario,"A.Wan-Bissaka, B.White, K.Trippier","B.Mbeumo, B.Saka, G.Martinelli Silva, R.Hernandez",E.Haaland,"A.Isak, E.Haaland, N.Jackson","M.Caicedo Corozo, N.Murara Neto, T.Ream, V.van..."
92,2174230,Nur UTD,Nurbol Sydykov,None,77,6,16,61,E.Santana de Moraes,"J.Andersen, M.Cash, P.Estupiñán","B.Saka, J.Maddison, J.Ward-Prowse, K.Mitoma, M...",E.Haaland,"E.Haaland, O.Watkins","D.Udogie, E.Ferguson, L.Martínez, M.Dubravka"
93,9056869,CJ.Logan,Tima Kanatbay,None,71,1,0,71,E.Santana de Moraes,"A.Disasi, C.Romero, P.Estupiñán, W.Saliba","B.Borges Fernandes, B.Saka, K.Mitoma, S.March",E.Haaland,"A.Semenyo, E.Haaland","A.Areola, D.Mubama, E.Anderson, L.Colwill"
94,8982758,NRGN FC,Nyurgun Berkenov,None,75,2,0,75,A.Ramsdale,"A.Wan-Bissaka, B.Chilwell, D.Udogie, J.Andersen","G.Martinelli Silva, J.Maddison, M.Salah, S.March",E.Haaland,"A.Isak, E.Haaland","B.Leno, C.Morris, R.Henry, S.Lukić"

In [15]:
name = 'loh'
link = 'https://chat.openai.com/c/583548b3-ab31-4664-814a-1cba7c678f26'
f"[{name}]({link})"

'[loh](https://chat.openai.com/c/583548b3-ab31-4664-814a-1cba7c678f26)'

In [6]:
from IPython.display import display, HTML


class FantasyInfo():
    def __init__(self, leagues_list):
        self.leagues_list = leagues_list
        self.users_cache = {}
        self.leagues_cache = {}
    
    @classmethod
    def _get_init_standings(cls, league_id, page: int = 1):
        standings_body = "https://fantasy.premierleague.com/api/leagues-classic"
        standings_suffix = f"standings/?page_standings={page}"
        url = os.path.join(standings_body, str(league_id), standings_suffix)
        data = safe_request(url)
        league_name = data['league']['name']
        standings = data['standings']['results']
        if len(standings) == 50:
            print('Make additional league query')
            _, tail = cls._get_init_standings(league_id, page + 1)
            standings.extend(tail)
        return league_name, standings
    
    @staticmethod
    def _get_user_info(entry):
        personal_body = "https://fantasy.premierleague.com/api/entry/"
        personal_suffix = "history"
        url = os.path.join(personal_body, str(entry), personal_suffix)
        data = safe_request(url)
        return data['current']
    
    def _beautify_standings(self, standings):
        cols_order = ['rank', 'entry_name', 'player_name', 'total', 'last_rank', 'entry']
        return pd.DataFrame(standings)[cols_order].set_index('rank')
    
    def _cache_entries(self, entries):
        for entry in tqdm(entries):
            if entry in self.users_cache:
                continue
            else:
                user_info = self._get_user_info(entry)
                self.users_cache[entry] = user_info
            
    def _get_gw_history(self, entries):
        records = []
        for entry in entries:
            gws = self.users_cache[entry]
            record = {'entry': entry}
            for gw in gws:
                event_id = gw['event']
                record[f'gw_{event_id}_points'] = gw['points'] - gw['event_transfers_cost']
                record[f'gw_{event_id}_hits'] = gw['event_transfers_cost']
#             record['total_points'] = gw['total_points']
            record[f'bank'] = gw['bank'] / 10
            record[f'global_rank'] = int(gw['overall_rank'])    
            records.append(record)
        return pd.DataFrame(records).fillna(0)
    
    def _mean_of_top25(scores):
        top_25 = len(scores) // 4
        top_scores = sorted(scores)[-top_25:]
        return np.mean(top_scores)

    def update(self):
        for league_id in self.leagues_list:
            league_name, standings = self._get_init_standings(league_id)
            print(league_name)
            standings_table = self._beautify_standings(standings)
            entries = standings_table.entry.tolist()
            self._cache_entries(entries)
            history = self._get_gw_history(entries)
            self.leagues_cache[league_name] = pd.merge(standings_table, history, on='entry')
            display(self.leagues_cache[league_name])

#     def leagues_leaderboard(self):
        
leagues_list = [
#     579956,
    356774,
#     406089, 626932, 5712, 458888, 406273, 257622, 180769, 684405, 381725, 82273
]
fantasy_info = FantasyInfo(leagues_list)
fantasy_info.update()

Make additional league query
Тренерский ШТАБ | t.me/FPL_HQ

100%|███████████████████████████████████████████████████████████████████████████████████████| 95/95 [00:25<00:00,  3.70it/s]

,entry_name,player_name,total,last_rank,entry,gw_1_points,gw_1_hits,gw_2_points,gw_2_hits,gw_3_points,gw_3_hits,gw_4_points,gw_4_hits,bank,global_rank
0,Alimbekov Wolverines,Alimbekov Renat,278,8,35606,75.0,0.0,57,0,62,0,84,0,0.0,82738
1,AQJAYIQ FC,Askhat Aktaubayev,276,2,406455,83.0,0.0,49,0,65,0,79,0,1.8,107618
2,Abuesat,Adilet Natiyev,274,23,5423747,82.0,0.0,59,0,43,0,90,0,1.9,139124
3,Tobot,Salikh Syzdyk,273,1,3524799,104.0,0.0,52,0,44,0,73,0,1.9,157659
4,Arsenal,Адилхан Куатов,273,13,655886,84.0,0.0,46,0,59,0,84,0,1.8,157659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Artetaball,Yestay Kameshev,198,92,753068,57.0,0.0,46,4,28,4,67,0,1.8,6383599
91,Вдовий плач,Tima Ka,193,94,5969582,56.0,0.0,30,0,40,0,67,0,0.9,6661791
92,Nur UTD,Nurbol Sydykov,191,93,2174230,48.0,0.0,48,0,34,0,61,16,1.0,6797238
93,CJ.Logan,Tima Kanatbay,190,95,9056869,0.0,0.0,69,0,50,0,71,0,8.8,6824018
94,NRGN FC,Nyurgun Berkenov,158,96,8982758,0.0,0.0,45,0,38,0,75,0,0.6,8102379

In [71]:
fantasy_info.leagues_cache['Тренерский ШТАБ | t.me/FPL_HQ']

,entry_name,player_name,total,last_rank,entry,gw_1_points,gw_1_hits,gw_2_points,gw_2_hits,gw_3_points,gw_3_hits,gw_4_points,gw_4_hits,bank,global_rank
0,Alimbekov Wolverines,Alimbekov Renat,278,8,35606,75.0,0.0,57,0,62,0,84,0,0.0,82738
1,AQJAYIQ FC,Askhat Aktaubayev,276,2,406455,83.0,0.0,49,0,65,0,79,0,1.8,107618
2,Abuesat,Adilet Natiyev,274,23,5423747,82.0,0.0,59,0,43,0,90,0,1.9,139124
3,Tobot,Salikh Syzdyk,273,1,3524799,104.0,0.0,52,0,44,0,73,0,1.9,157659
4,Arsenal,Адилхан Куатов,273,13,655886,84.0,0.0,46,0,59,0,84,0,1.8,157659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Artetaball,Yestay Kameshev,198,92,753068,57.0,0.0,46,4,28,4,67,0,1.8,6383599
91,Вдовий плач,Tima Ka,193,94,5969582,56.0,0.0,30,0,40,0,67,0,0.9,6661791
92,Nur UTD,Nurbol Sydykov,191,93,2174230,48.0,0.0,48,0,34,0,61,16,1.0,6797238
93,CJ.Logan,Tima Kanatbay,190,95,9056869,0.0,0.0,69,0,50,0,71,0,8.8,6824018
94,NRGN FC,Nyurgun Berkenov,158,96,8982758,0.0,0.0,45,0,38,0,75,0,0.6,8102379

In [106]:


player_info = PlayerInfo()
player_info.summary.head(20)

,name,team,position,ownership,total_points,expected_goals,expected_assists,bonus,cost,transfers_in,transfers_out
355,E.Haaland,Man City,frw,92.0,39,4.54,0.18,6,14.1,391335,91236
108,B.Mbeumo,Brentford,mid,27.4,33,4.02,0.92,4,6.8,1974226,272989
526,J.Bowen,West Ham,mid,9.7,30,2.38,0.50,5,7.1,651523,219274
504,J.Maddison,Spurs,mid,28.4,29,1.60,1.80,4,7.8,1934118,448267
140,S.March,Brighton,mid,10.3,29,1.59,0.40,4,6.6,885119,305627
343,J.Álvarez,Man City,frw,15.0,28,1.94,0.59,4,6.7,1120650,256430
516,S.Heung-min,Spurs,mid,12.3,28,1.38,0.79,3,9.1,787906,234200
365,R.Hernandez,Man City,mid,12.6,27,0.77,0.41,5,5.7,953496,273948
511,C.Romero,Spurs,def,14.2,27,0.62,0.03,1,4.7,1212738,97765
19,B.Saka,Arsenal,mid,65.4,25,2.16,1.60,4,8.7,908499,364782
437,T.Awoniyi,Nott'm Forest,frw,5.3,25,1.83,0.29,3,6.6,485665,106759
216,R.Sterling,Chelsea,mid,16.4,25,1.14,0.83,3,7.2,1548912,241473
132,E.Ferguson,Brighton,frw,7.8,25,2.56,0.11,3,6.0,399510,301235
599,M.Diaby,Aston Villa,mid,9.7,24,0.97,0.47,2,6.6,531999,262457
225,O.Edouard,Crystal Palace,frw,2.7,24,2.49,0.24,4,5.5,149750,88889
119,Y.Wissa,Brentford,frw,15.7,24,2.46,0.08,5,6.2,1347316,450982
519,D.Udogie,Spurs,def,14.9,23,0.15,0.49,4,4.7,1235591,69123
308,M.Salah,Liverpool,mid,25.8,23,2.49,0.61,0,12.5,465844,673241
220,J.Andersen,Crystal Palace,def,7.8,23,0.20,0.27,6,4.6,620530,93912
143,K.Mitoma,Brighton,mid,40.0,23,0.81,1.84,3,6.5,973517,753134

In [156]:



        
entry_id = 2174230 #35606
user_info = UserInfo(entry_id, player_info)
user_info._get_event_summary(4)

{'entry': '2174230',
 'team_name': None,
 'user_name': None,
 'active_chip': None,
 'points': 77,
 'event_transfers': 6,
 'event_transfers_cost': 16,
 'pure_points': 61,
 'gk': 'E.Santana de Moraes',
 'def': 'J.Andersen, M.Cash, P.Estupiñán',
 'mid': 'B.Saka, J.Maddison, J.Ward-Prowse, K.Mitoma, M.Rashford',
 'frw': 'E.Haaland, O.Watkins',
 'captain': 'E.Haaland',
 'bench': 'D.Udogie, E.Ferguson, L.Martínez, M.Dubravka'}

In [157]:
user_info.history_summary

{'team_name': None,
 'user_name': None,
 'gw_1': 48,
 'gw_2': 48,
 'gw_3': 34,
 'gw_4': 61}

In [160]:

    



league_id = 356774
user_storage = UserStorage()
league_info = LeagueInfo(league_id)
players_info = PlayerInfo()
# league_name, standings = league_info._get_basic_info()
print(league_info.league_name)
# league_info.get_event_standings(4, players_info, user_storage)
league_info.get_overall_standings(players_info, user_storage)

Make additional league query
Тренерский ШТАБ | t.me/FPL_HQ

100%|███████████████████████████████████████████████████████████████████████████████████████| 95/95 [00:31<00:00,  2.98it/s]

               team_name          user_name   gw_1  gw_2  gw_3  gw_4
0   Alimbekov Wolverines    Alimbekov Renat   75.0    57    62    84
1             AQJAYIQ FC  Askhat Aktaubayev   83.0    49    65    79
2                Abuesat     Adilet Natiyev   82.0    59    43    90
3                  Tobot      Salikh Syzdyk  104.0    52    44    73
4                Arsenal     Адилхан Куатов   84.0    46    59    84
..                   ...                ...    ...   ...   ...   ...
90            Artetaball    Yestay Kameshev   57.0    46    28    67
91           Вдовий плач            Tima Ka   56.0    30    40    67
92               Nur UTD     Nurbol Sydykov   48.0    48    34    61
93              CJ.Logan      Tima Kanatbay    NaN    69    50    71
94               NRGN FC   Nyurgun Berkenov    NaN    45    38    75

[95 rows x 6 columns]

In [52]:
entries = list(fantasy_info.users_cache.keys())
fantasy_info._get_gw_history(entries).sort_values('global_rank')

,entry,gw_1_points,gw_1_hits,gw_2_points,gw_2_hits,gw_3_points,gw_3_hits,gw_4_points,gw_4_hits,bank,global_rank
142,3634366,100.0,0.0,59.0,4.0,48,0,93,0,0.2,3381
200,1899795,88.0,0.0,69.0,0.0,57,4,79,0,1.0,10171
238,2404767,79.0,0.0,59.0,0.0,49,0,104,0,0.4,12831
265,2118310,74.0,0.0,73.0,0.0,46,0,94,0,0.9,22415
95,560567,84.0,0.0,63.0,0.0,59,0,75,0,0.0,52673
...,...,...,...,...,...,...,...,...,...,...,...
332,5036884,51.0,0.0,13.0,8.0,45,0,71,0,0.0,7296558
333,2360227,28.0,0.0,28.0,4.0,59,0,46,0,2.5,8010567
334,2807617,45.0,0.0,32.0,0.0,28,4,56,8,3.5,8013540
335,3711405,44.0,0.0,23.0,0.0,21,0,62,0,0.0,8330924
336,9312523,0.0,0.0,0.0,0.0,38,0,72,0,3.0,9077381

In [ ]:
def mean_of_top_percentille(scores, percentille):
    percentille_value = np.percentile(scores, percentille)
    top_scores = scores[scores > percentille_value]
    return np.mean(top_scores)

records = []
for league_name, league_standings in fantasy_info.leagues_cache.items():
    print(league_name)
    record = {'league_name': league_name, 'n_players': league_standings.shape[0]}
    for gw in range(1,5):
        gw_scores = league_standings[f'gw_{gw}_points']
        gw_scores = gw_scores[gw_scores > 0].values
        record[f'mean_gw_{gw}'] = np.mean(gw_scores)
#         record[f'median_gw_{gw}'] = np.median(gw_scores)
#         record[f'mean_top_25_gw_{gw}'] = mean_of_top_percentille(gw_scores, 25)
#         record[f'mean_top_50_gw_{gw}'] = mean_of_top_percentille(gw_scores, 50)
    records.append(record)
leaderboard = pd.DataFrame(records).set_index('league_name')

base_cols = leaderboard.columns
leaderboard['total'] = leaderboard[base_cols].sum(axis=1)

for col in base_cols:
    leaderboard[f'{col}_rank'] = leaderboard[col].rank()

rank_cols = [col for col in leaderboard.columns if 'rank' in col]

leaderboard['total_rank'] = leaderboard[rank_cols].sum(axis=1)
leaderboard.sort_values('total_rank', ascending=False)

In [120]:
fantasy_info.leagues_cache['Тренерский ШТАБ | t.me/FPL_HQ'].to_excel('тренерский_ШТАБ.xlsx')

In [121]:
fantasy_info.leagues_cache['Тренерский ШТАБ | t.me/FPL_HQ'].gw_4_points.mean()

72.97894736842105